h1 {
    text-decoration: underline;
    text-align: center;
}
#escudo {
    padding-left: 37em;
}
h2 {
    text-decoration: underline;
    text-align: center;
}
p {
    text-decoration-style: double;
}
.dos {
    padding-left: 15em;
}